<!DOCTYPE html>
<html>
<head>
  <title>Présentation d'une personne</title>
  <!-- Inclure les fichiers CSS de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <!-- Contenu de la page -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- Image de la personne -->
        <img src="imagesara.jpg" alt="Photo de la personne" class="img-fluid">
      </div>
      <div class="col-md-8">
        <!-- Informations de la personne -->
        <h2>SARA MAZOUNI</h2><br>

        <p>Profession : Etudiante</p><br>
        <p>Description :est étudiant en Master à l’Ecole Informatique, spécialisé en Cybersécurité et Cloud Computing à l'ecole IT, campus orleans</p><br>
         <p> email: sara.mazouni@ecole-it.com</p><br>
         <p>linkdin: Sara MAZOUNI</p>
      </div>
    </div>
  </div>

  <!-- Inclure les fichiers JavaScript de Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

